#object-information-container {
  position: fixed;
  bottom: 25px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  pointer-events: none;
  box-sizing: border-box;
}

#object-information-container .object-information-box {
  background: #fff;
  padding: 5px;
  /* margin-top: -88px; */
  left: 50%;
  /* position: absolute; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(68 68 68 / 27%);
  pointer-events: all;
  display: flex;
  display: -webkit-flex;
}

#object-information-container .object-information-box > div {
  margin-right: 5px;
}

#object-information-container .object-img-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-name-1 {
  display: none;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .object-detail-box[data-status="stopped"] {
  background-color: rgba(255, 0, 0, 0.15);
}

#object-information-container .object-information-box > div {
  margin-right: 5px;
}

#object-information-container .object-detail-box {
  background-color: #ffd9d0;
  border-radius: 6px px;
  padding: 5px;
  width: 190px;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-header {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-name {
  font-size: 12px;
  font-weight: 600;
  color: #2b2b2b;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-status-box[data-status="stopped"] {
  background-color: #ff0000;
}

#object-information-container .oib-status-box {
  background-color: #f00;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-widget {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 5px;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-widget-value {
  font-weight: 600;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .status-since-label {
  color: #545050;
  margin-right: 5px;
  font-weight: 400;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .object-information-box > div:last-child {
  margin-right: 0px;
}

#object-information-container .object-information-box > div {
  margin-right: 5pxpx;
}

#object-information-container .object-location-information-box {
  background-color: #e4f0ff;
  border-radius: 6px;
  padding: 5px;
  width: 280px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-header {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-name {
  font-size: 12px;
  font-weight: 600;
  color: #2b2b2b;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-widget-location-box {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-widget {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 5px;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container .oib-widget[data-refer="last-updated-point"] {
  font-size: 10px;
  justify-content: flex-end;
  color: #404040;
}

#object-information-container .oib-widget {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 5px;
}

#object-information-container * {
  box-sizing: border-box;
}

#object-information-container * {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  #object-information-container * {
    justify-content: revert !important;
    width: -webkit-fill-available;
  }
}
body {
  margin: 0;
  padding: 0;
}
html,
body,
#map {
  height: 100%;
}
.marker {
  display: block;
  border: none;
  width: 50%;
  height: 50%;
  /* cursor: pointer; */
  padding: 0;
}
